altair >= 5.1
duckdb ~= 0.10
duckdb-engine
ibis-framework [bigquery,duckdb,pandas,polars,pyspark]
ipykernel >= 6.25
ipywidgets >= 8.1
jupysql
jupyter
pandas >= 2.0
pathling >= 6.4
polars >= 0.20
pydantic >= 2.7